body {
	font-family: 'Roboto', sans-serif;
	background-color: dimgray;
}
.navbar {
	margin-left: -15px;
	margin-right: -15px;
}
#about_image {
	border-radius: 100%;
}

#project_title {
	color: white;
}

#projects_body {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#footer {
	padding: 30px;
	text-align: center;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
	background-color: #00a3cc;
}